# Doha Amendment to the Kyoto Protocol

In [1]:
from pandas_datapackage_reader import read_datapackage

In [2]:
da = read_datapackage("https://github.com/openclimatedata/doha-amendment-entry-into-force")

In [3]:
da.head()

                     Name Acceptance
Code
DZA               Algeria 2015-09-28
ATG   Antigua and Barbuda 2016-09-23
ARG             Argentina 2015-12-01
ARM               Armenia 2017-03-31
AUS             Australia 2016-11-09

# Paris Agreement

In [4]:
pa = read_datapackage("https://github.com/openclimatedata/paris-agreement-entry-into-force")

In [5]:
pa.head()

,Name,Signature,Ratification-Acceptance-Approval,Kind,Date-Of-Effect,Emissions,Percentage,Year
Code,,,,,,,,
AFG,Afghanistan,2016-04-22,2017-02-15,Ratification,2017-03-17,19328,0.05,2005
ALB,Albania,2016-04-22,2016-09-21,Ratification,2016-11-04,6717,0.02,2000
DZA,Algeria,2016-04-22,2016-10-20,Ratification,2016-11-19,111023,0.30,2000
AND,Andorra,2016-04-22,2017-03-24,Ratification,2017-04-23,522,0.00,2011
AGO,Angola,2016-04-22,NaT,NaN,NaT,61611,0.17,2005

### Combination of the two datasets

In [6]:
combined = pa.reset_index().merge(da.reset_index(), how="outer").set_index('Code')
combined = combined.rename(columns={
    "Acceptance": "Doha", 
    "Ratification-Acceptance-Approval": "Paris"
})
combined = combined[["Doha", "Paris"]].dropna(how="all")
combined = combined.join(pa.Name, how="left")[["Name", "Doha", "Paris"]]

In [7]:
combined.count()

Name     168
Doha      80
Paris    160
dtype: int64

#### Parties who so far ony accepted the Doha Amendment

In [8]:
only_doha = combined[combined.Paris.isnull()]
only_doha

                     Name       Doha Paris
Code
BTN                Bhutan 2015-09-29   NaT
DOM    Dominican Republic 2016-09-21   NaT
ECU               Ecuador 2015-04-20   NaT
LBR               Liberia 2015-08-17   NaT
LIE         Liechtenstein 2015-02-23   NaT
SMR            San Marino 2015-08-04   NaT
CHE           Switzerland 2015-08-28   NaT
TTO   Trinidad and Tobago 2015-08-06   NaT

#### Parties who so far ony accepted the Paris Agreement

In [9]:
only_paris = combined[combined.Doha.isnull()]
only_paris

                                                   Name Doha      Paris
Code
AFG                                         Afghanistan  NaT 2017-02-15
ALB                                             Albania  NaT 2016-09-21
AND                                             Andorra  NaT 2017-03-24
AUT                                             Austria  NaT 2016-10-05
BHR                                             Bahrain  NaT 2016-12-23
BLR                                             Belarus  NaT 2016-09-21
BEL                                             Belgium  NaT 2017-04-06
BLZ                                              Belize  NaT 2016-04-22
BEN                                               Benin  NaT 2016-10-31
BOL                    Bolivia (Plurinational State of)  NaT 2016-10-05
BIH                              Bosnia and Herzegovina  NaT 2017-03-16
BRA                                              Brazil  NaT 2016-09-21
BGR                                            Bulgaria  NaT 2016-11-29
CMR                                            Cameroon  NaT 2016-07-29
CAN                                              Canada  NaT 2016-10-05
CAF                            Central African Republic  NaT 2016-10-11
TCD                                                Chad  NaT 2017-01-12
COK                                        Cook Islands  NaT 2016-09-01
HRV                                             Croatia  NaT 2017-05-24
CIV                                       Côte d'Ivoire  NaT 2016-10-25
PRK               Democratic People's Republic of Korea  NaT 2016-08-01
DNK                                             Denmark  NaT 2016-11-01
DMA                                            Dominica  NaT 2016-09-21
EGY                                               Egypt  NaT 2017-06-29
SLV                                         El Salvador  NaT 2017-03-27
EST                                             Estonia  NaT 2016-11-04
EUU                                      European Union  NaT 2016-10-05
FJI                                                Fiji  NaT 2016-04-22
FIN                                             Finland  NaT 2016-11-14
FRA                                              France  NaT 2016-10-05
...                                                 ...  ...        ...
PRY                                            Paraguay  NaT 2016-10-14
POL                                              Poland  NaT 2016-10-07
PRT                                            Portugal  NaT 2016-10-05
QAT                                               Qatar  NaT 2017-06-23
MDA                                 Republic of Moldova  NaT 2017-06-20
STP                               Sao Tome and Principe  NaT 2016-11-02
SAU                                        Saudi Arabia  NaT 2016-11-03
SEN                                             Senegal  NaT 2016-09-21
SLE                                        Sierra Leone  NaT 2016-11-01
SVK                                            Slovakia  NaT 2016-10-05
SVN                                            Slovenia  NaT 2016-12-16
SOM                                             Somalia  NaT 2016-04-22
ESP                                               Spain  NaT 2017-01-12
LCA                                           St. Lucia  NaT 2016-04-22
VCT                      St. Vincent and the Grenadines  NaT 2016-06-29
PSE                                  State of Palestine  NaT 2016-04-22
SWE                                              Sweden  NaT 2016-10-13
TJK                                          Tajikistan  NaT 2017-03-22
TLS                                         Timor-Leste  NaT 2017-08-16
TGO                                                Togo  NaT 2017-06-28
TON                                               Tonga  NaT 2016-09-21
TUN                                             Tunisia  NaT 2017-02-10
TKM                                        Turkmenistan  NaT 2016-10-20
UKR                                             Ukraine  NaT 2016-09-19
GBR   United Kingdom of Great Britain and Northern I...  NaT 2016-11-18
USA                            United States of America  NaT 2016-09-03
URY                                             Uruguay  NaT 2016-10-19
VUT                                             Vanuatu  NaT 2016-09-21
VEN                  Venezuela (Bolivarian Republic of)  NaT 2017-07-21
ZMB                                              Zambia  NaT 2016-12-09

[88 rows x 3 columns]

#### Parties who ratified the Paris Agreement and Doha Amendment

In [10]:
both = combined[~combined.Paris.isnull() & ~combined.Doha.isnull()]
both

                                  Name       Doha      Paris
Code
DZA                            Algeria 2015-09-28 2016-10-20
ATG                Antigua and Barbuda 2016-09-23 2016-09-21
ARG                          Argentina 2015-12-01 2016-09-21
ARM                            Armenia 2017-03-31 2017-03-23
AUS                          Australia 2016-11-09 2016-11-09
AZE                         Azerbaijan 2015-07-01 2017-01-09
BHS                            Bahamas 2015-11-04 2016-08-22
BGD                         Bangladesh 2013-11-13 2016-09-21
BRB                           Barbados 2013-08-14 2016-04-22
BWA                           Botswana 2016-03-07 2016-11-11
BRN                  Brunei Darussalam 2014-11-14 2016-09-21
BFA                       Burkina Faso 2016-11-29 2016-11-11
KHM                           Cambodia 2015-11-17 2017-02-06
CHL                              Chile 2015-11-10 2017-02-10
CHN                              China 2014-06-02 2016-09-03
COM                            Comoros 2014-09-07 2016-11-23
COG                              Congo 2015-05-14 2017-04-21
CRI                         Costa Rica 2016-09-21 2016-10-13
CUB                               Cuba 2016-12-28 2016-12-28
CYP                             Cyprus 2015-12-10 2017-01-04
DJI                           Djibouti 2014-09-23 2016-11-11
ETH                           Ethiopia 2015-06-26 2017-03-09
GMB                             Gambia 2016-11-07 2016-11-07
GRD                            Grenada 2015-04-01 2016-04-22
GIN                             Guinea 2016-04-06 2016-09-21
GUY                             Guyana 2014-12-23 2016-05-20
HND                           Honduras 2014-04-11 2016-09-21
HUN                            Hungary 2015-10-01 2016-10-05
ISL                            Iceland 2015-10-07 2016-09-21
IND                              India 2017-08-08 2016-10-02
...                                ...        ...        ...
FSM   Micronesia (Federated States of) 2014-02-19 2016-09-15
MCO                             Monaco 2013-12-27 2016-10-24
MAR                            Morocco 2014-09-05 2016-09-21
NAM                            Namibia 2015-02-17 2016-09-21
NRU                              Nauru 2014-12-01 2016-04-22
NZL                        New Zealand 2015-11-30 2016-10-04
NOR                             Norway 2014-06-12 2016-06-20
PLW                              Palau 2015-03-10 2016-04-22
PAN                             Panama 2015-09-29 2016-09-21
PER                               Peru 2014-09-24 2016-07-25
PHL                        Philippines 2016-04-13 2017-03-23
KOR                  Republic of Korea 2015-05-27 2016-11-03
ROU                            Romania 2016-05-03 2017-06-01
RWA                             Rwanda 2015-11-20 2016-10-06
WSM                              Samoa 2015-09-18 2016-04-22
SRB                             Serbia 2017-06-30 2017-07-25
SYC                         Seychelles 2015-07-15 2016-04-29
SGP                          Singapore 2014-09-23 2016-09-21
SLB                    Solomon Islands 2014-09-05 2016-09-21
ZAF                       South Africa 2015-05-07 2016-11-01
LKA                          Sri Lanka 2015-12-02 2016-09-21
KNA                St. Kitts and Nevis 2016-10-25 2016-04-22
SDN                              Sudan 2014-02-03 2017-08-02
SWZ                          Swaziland 2016-09-21 2016-09-21
THA                           Thailand 2015-09-01 2016-09-21
TUV                             Tuvalu 2014-12-04 2016-04-22
UGA                             Uganda 2015-07-08 2016-09-21
ARE               United Arab Emirates 2013-04-26 2016-09-21
VNM                           Viet Nam 2015-06-22 2016-11-03
ZWE                           Zimbabwe 2016-04-20 2017-08-07

[72 rows x 3 columns]

In [11]:
print("Doha only: {}\nParis only: {}\nBoth Doha and Paris: {}".format(len(only_doha), len(only_paris), len(both)))

Doha only: 8
Paris only: 88
Both Doha and Paris: 72